name: Lint

on:
  push:
    branches:
      - master
      - main
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_dispatch:  # allows manual triggering

jobs:
  run-linters:
    timeout-minutes: 2
    name: Run linters
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Upgrade pip
        run: pip install -U pip

      - name: Install Python dependencies
        run: pip install -r requirements-staging.txt

      - name: Run linters
        run: python -m flake8 --max-line-length 130 --ignore=E123,E126,E226,E251,E701,F541,DOC203,DOC301,N802,N803,N806,N815 --arg-type-hints-in-signature=False

# see https://pycodestyle.pycqa.org/en/latest/intro.html#error-codes for list of error codes

